@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Track/Bar color */
::-webkit-scrollbar-track {
  background-color: rgb(34 197 94);
}

/* Handle color */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

.heading {
  position: relative;
}

.heading::before {
  position: absolute;
  opacity: 0.25;
  font-size: 4rem;
  color: rgb(34 197 94);
  z-index: -1;
}

#about-me .heading::before {
  content: "ABOUT ME";
}

#skills .heading::before {
  content: "SKILLS";
}

#projects .heading::before {
  content: "PROJECTS";
}

#contact .heading::before {
  content: "LETS CONNECT";
}

@media (max-width: 1024px) {
  .heading::before {
    font-size: 2.4rem;
  }
}

.skill-carousel {
  overflow-x: scroll;
}

.skill-carousel::-webkit-scrollbar {
  height: 0px; /* Width of the scrollbar */
}

.skill-carousel img {
  height: 5.5rem;
  transition:
    height 0.3s ease-out,
    filter 0.5s ease-out;
  filter: grayscale(100%);
}

.skill-carousel img:hover {
  height: 6rem;
  filter: grayscale(0%);
}

.pushDownRope:not(:active) {
  animation: pushDown 1s;
}

/* Nav Menu Transition */
#header li {
  position: relative;
}

#header a::after {
  content: "";
  background-color: #22c55e;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0px;
  transition:
    width 0.2s ease-in,
    left 0.2s ease-in;
}

#header a:hover::after {
  width: 100%;
  left: 0;
}

/* Button Transition */
.btn {
  border-width: 4px;
  background-color: #065f46;
}

.btn a {
  transform: translate(0px, -10px);
  transition:
    transform 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}
.btn a:active {
  transform: translate(0px, 0px);
  background-color: #1ca950;
  box-shadow: inset 0px -3px #065f46;
}
@media (min-width: 640px) {
  .btn a:hover {
    transform: translate(0px, 0px);
    background-color: #1ca950;
    box-shadow: inset 0px -3px #065f46;
  }
}

/* Project */

/* .project img{
  z-index: -1;
  transition: zoom 0.2s ease-in,;
  border: black 2px solid;
}

.project:hover img{
    zoom: 1.5;
} */

.project:hover .project-link {
  color: #22c55e;
}

.project a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}